<!--- Theme Cardos by Luka Cvetinovic for Codrops --->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blue Swift</title>
    <meta name="description" content="Blue Swift is your one home for all your apartment searches!" />
    <meta name="keywords" content="html template, css, free, one page, gym, fitness, web design" />
    <meta name="author" content="" />
    <!-- Favicons (created with http://realfavicongenerator.net/)-->
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicons/manifest.json">
    <link rel="shortcut icon" href="img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Normalize -->
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!-- Owl -->
    <link rel="stylesheet" type="text/css" href="css/owl.css">
    <!-- Animate.css -->
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.1.0/css/font-awesome.min.css">
    <!-- Elegant Icons -->
    <link rel="stylesheet" type="text/css" href="fonts/eleganticons/et-icons.css">
    <!-- Main style -->
    <link rel="stylesheet" type="text/css" href="css/cardio.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">


    <!--- angular scripts -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="js/angu-fixed-header-table.js"></script>
    <script src="app/app.js"></script>


</head>

<body ng-app="swiftApp">
    <div class="preloader">
        <img src="img/loader.gif" alt="Preloader image">
    </div>
    <nav class="navbar">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand" href="#"><img src="img/blue_bird.png" data-active-url="img/blue_bird.png" alt=""></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right main-nav">
                    <li><a href="/BlueSwift">Welcome</a></li>
                    <li><a href="filter.html">Search</a></li>
                    <li><a href="ad-hocQuery.html">Ad-hoc</a></li>
                    <!--<li><a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue"></a></li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container header">
        <h1>Search By: </h1>
        <br />
    </div>
    <div ng-controller="listCtrl">

        <div class="container input-fields">
            <form class="form-inline">
                <div class="form-group">
                    <label for="aptName">Apt Name:</label>
                    <input type="text" ng-model="form.aptName" class="form-control" id="aptName">
                </div>
                <div class="form-group">
                    <label for="city">City:</label>
                    <input type="text" ng-model="form.city" class="form-control" id="city">
                </div>
                <div class="form-group">
                    <label for="state">State:</label>
                    <input type="text" ng-model="form.state" class="form-control" id="state">
                </div>
                <div class="form-group">
                    <label for="numberOfRooms">Num. of Rooms:</label>
                    <input type="number" ng-model="form.numberOfRooms" class="form-control" id="numberOfRooms">
                </div>
                <div class="form-group">
                    <label for="priceMin">Price Min:</label>
                    <input type="number" ng-model="form.priceMin" class="form-control" id="priceMin">
                </div>
                <div class="form-group">
                    <label for="priceMax">Price Max:</label>
                    <input type="number" ng-model="form.priceMax" class="form-control" id="priceMax">
                </div>
                <div class="form-group">
                    <label for="schoolName">School Name:</label>
                    <input type="text" ng-model="form.schoolName" class="form-control" id="schoolName">
                </div>
                <div class="form-group">
                    <label for="ratingMin">Rating Min:</label>
                    <input type="number" step="0.01" ng-model="form.ratingMin" class="form-control" id="ratingMin">
                </div>
                <div class="form-group">
                    <label for="ratingMax">Rating Max:</label>
                    <input type="number" step="0.01" ng-model="form.ratingMax" class="form-control" id="ratingMax">
                </div>
                <div class="form-group">
                    <label for="gradeLevel">Grade Levels:</label>
                    <input type="number" ng-model="form.gradeLevel" class="form-control" id="gradeLevel">
                </div>
                <button class="btn btn-info" ng-click="filterAptBy()">Submit</button>
                <div class="container checkboxLists">
                    <label class="checkbox-inline"><input type="checkbox" ng-model = "form.roomSharing" ng-true-value=1 ng-false-value=0>Room Sharing</label>
                    <label class="checkbox-inline"><input type="checkbox" ng-model = "form.petsAllowed" ng-true-value=1 ng-false-value=0>Pets Allowed</label>
                    <label class="checkbox-inline"><input type="checkbox" ng-model = "form.hasNearbyTrans" ng-true-value=1 ng-false-value=0>Nearby Transportation</label>
                </div>
            </form>
        </div>

        <div class="container resultsContainer">
            <div class="row">
                <div class="col s12">
                    <h2 class="text-align-center">Apartments</h2>
                    <div class = "extraInformation jumbotron container">
                        <h5>{{scope.extraInfoTitle}}</h5>
                        <p>
                            {{scope.extraInfoDetails}}
                        </p>
                    </div>
                    <h6 class ="countNumber">Showing {{apartments.length}} Results</h6>
                    <table class="table table-hover aptTable" fixed-header>
                        <thead>
                            <tr>
                                <th class="text-align-center">Apt Information</th>
                                <th class="width-30-pct">Nearby Transportation</th>
                                <th class="width-30-pct">Nearby Schools</th>
                                <th class="width-30-pct">Nearby Stores</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="d in apartments">
                                <td class="text-align-center" ng-click ="select(d)">
                                        <p class="aptHeader"><b>{{d.name}}</b></p>
                                        <p class ="aptDescription">
                                            {{d.city}},{{d.state}}
                                            <br />
                                            ({{d.longitude}},{{d.latitude}})
                                        </p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr ng-if= "d.expanded" ng-repeat-end ="">
                              <td colspan="5">
                                    <table class ="table table-bordered">
                                      <thead class ="header">
                                        <tr>
                                            <th class="text-align-center">Suites</th>
                                            <th class="width-30-pct">Price</th>
                                            <th class="width-30-pct">Pets</th>
                                            <th class="width-30-pct"># of Rooms</th>
                                            <th class="width-30-pct">Room Sharing</th>
                                            <th class="width-30-pct">Specifications</th>
                                            <th class="width-30-pct">Tenants</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr ng-repeat = "s in selectedRes">
                                          <td class="text-align-center">{{s.suiteId}}</td>
                                          <td>${{s.price}}</td>
                                          <td>{{s.petsAllowed}}</td>
                                          <td>{{s.numberOfRooms}}</td>
                                          <td>{{s.roomSharing}}</td>
                                          <td><p class="specifications">
                                            {{s.specifications}}
                                          </p></td>
                                          <td>
                                            <ul ng-repeat = "t in s.tenants">
                                              <b>{{t.name}}</b>
                                                <li>{{t.description}}</li>
                                                <li>{{t.phoneNumber}}</li>
                                            </ul>
                                            </td>
                                        </tr>
                                      </tbody>
                                    </table>
                               </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end col s12 -->
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- end container -->





    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center-mobile">
                    <h3 class="white">Find Apartments Easily</h3>
                    <h5 class="light regular light-white">Blue Swift.</h5>
                </div>
            </div>
        </div>
    </footer>
    <!-- Holder for mobile navigation -->
    <div class="mobile-nav">
        <ul>
        </ul>
        <a href="#" class="close-link"><i class="arrow_up"></i></a>
    </div>
    <!-- Scripts -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/typewriter.js"></script>
    <script src="js/jquery.onepagenav.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
